    header {
      text-align: center;
     /* background: url("/home/easiamah/Desktop/free-loops_Sun_from_Underwater_2.mp4.crdownload"); */
      background-size: cover;
      color: white;     
    }
    article {
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
    .yellow{
      background: #7D5353;
      font-size: 1em;
      max-width: 500px;
      padding: 2px 20px;
      margin: 2% auto; 
      margin-left: 40%;
      margin-right: 2%;
      color: white;     
    }
    .yellow::first-letter {
      color: red;
      font-size: 2em;
    }     
    textarea{
      margin-top: 5%;
      -webkit-transition: width 0.4s ease-in-out;
      transition: width 0.4s ease-in-out; 
      background-image: url("aladin.png");
      background-size: 250px;
      background-repeat: no-repeat;
      background-color: rgba(255,255,255,0.3);
      resize: none;
    }
    textarea:focus{
      border: 3px solid #53ff1a;
      width: 100%;
    }    
    #article_wrapper{
       max-width: 100%;
       max-height: 100%;
       background: rgba(0,0,0,0.3);
    }    
    #left_side_div{
      position: absolute;
      display: inherit;
      float: left;
      padding-top: 30%; 
      padding-bottom: 1%;
      padding-right: 2%;
      padding-left: 2%; 
    }   
    #header_wrapper{
       min-width: 100%;
       min-height: 100%;
       background: rgba(0,0,0,0.5);     
    }
    .pic_link{
      cursor: pointer;
    }
    .pic_link:hover{
      border-color: #53ff1a;
    }
    .buttons{
      margin-right: 2%;
    }
    label{
      font-size: 1em;
    }
    a {
      color: white;
      text-decoration: none;
    }
    h1 {
      font-size: 70px;
      text-shadow: 2px 2px 2px red;
    }
    #dif_h1{
      margin-bottom: 3%;
      text-align: center;
      font-size: 2em;
    }
    img {
      margin: 40px 0px 0px 0px;
      border: 7px solid white;
      border-radius: 20px;
      width: 20%;
      height: 20%;
      opacity: 0.9;
      -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
      transition: width 2s, height 2s, transform 2s; 
      cursor: zoom-in;
    }   
    ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);
    }
    ul .link_1 {
      list-style: none;
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    ul .link_1:hover{
      border: 1px white solid;
      background: yellow;
      box-shadow: 4px 4px 5px black inset;
      border-radius: 50px;            
    }
    ul .link_1 a:hover{
      list-style: none;
      color: red;
    }
     video{
       z-index: -9999;
       position: fixed;
       min-width: 100%;
       min-height: 100%;
       width: auto;
       height: auto;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
     }  
    /*about me css*/
     .about_me_body{
      margin: 5% 5% 5% 5%;
      text-align: center;
      border: 10px dashed red;
      font-family: Georgia;
      padding: 2% 2%;
      font-family: Arial;
      background: black;
    }
    #head_3{
      font-size: 2em;
      color: red;
      padding-bottom: 30px 30px;
      font-size: 4em;
    }
    .special{
      background: black;
      color: white;
    }  
    .about_para{
      background: #7D5353;
      font-size: 1em;
      text-align: center;
      color: white;
      margin:0 auto;
      padding: 20px 20px;
    }
    .about_para::first-letter {
      color: red;
      font-size: 2em;
    }  
    .footer {
    padding: 0.5em;
    color: white;
    background-color: rgba(0,0,0,0.5);
    clear: left;
    text-align: center;
}     

/*Different platforms screen displays */
    @media (max-width: 500px) {
        h1 {
          font-size: 36px;
          padding: 5px;
          list-style: none;
        }
        li {
          padding: 5px;
          display: block;
        }  
      .yellow{
        background: #7D5353;
        font-size: 1em;
        max-width: 500px;
        padding: 2px 20px;
        margin: 2% auto; 
        color: white;     
       } 
      #left_side_div{
        position: relative;
        display: block;
        float: left;
        padding: 3% 2%; 
      }            
    }
@media only screen and (min-width: 600px) {
    #left_side_div{
      position: relative;
      display: block;
      float: left;
      padding: 3% 2%; 
    }
    .yellow{
      background: #7D5353;
      font-size: 1em;
      max-width: 500px;
      padding: 2px 20px;
      margin: 2% auto; 
      margin-left: 40%;
      margin-right: 2%;
      color: white;     
    }    
  
}

@media only screen and (min-width: 768px) {
    #left_side_div{
      display: inherit;
      float: left;
      padding: 3% 2%; 
    }
    .yellow{
      background: #7D5353;
      font-size: 1em;
      max-width: 500px;
      padding: 2px 20px;
      margin: 2% auto; 
      margin-left: 40%;
      margin-right: 2%;
      color: white;     
    }     
} 
/*Animation*/
img:hover {
    width: 300px;
    height: 300px;
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(360deg);
}